
# From: core/requirements.txt
# core/requirements.txt
requests
google-api-python-client
google-auth-oauthlib
google-auth
python-dateutil
python-json-logger

# Herramientas de desarrollo (centralizadas aquí para todos los módulos)
black
flake8
pytest
requests-mock
freezegun

# From: packages/biwenger_tools/scraper_job/requirements.txt
# scraper_job/requirements.txt
unidecode
beautifulsoup4
python-dotenv

# From: packages/biwenger_tools/teams_analyzer/requirements.txt
# teams_analyzer/requirements.txt
python-dotenv
requests
unidecode

# From: packages/biwenger_tools/web/requirements.txt
# web/requirements.txt
Flask
python-dotenv
unidecode
beautifulsoup4
gunicorn

# Para el manejo de fechas y zonas horarias
python-dateutil
