# core/requirements.txt
requests
google-api-python-client
google-auth-oauthlib
google-auth
google-cloud-firestore
python-dateutil
python-json-logger

# Herramientas de desarrollo (centralizadas aquí para todos los módulos)
black
flake8
pytest
requests-mock
freezegun
